body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  min-height: 0;
  min-width: 0;
}

.active {
  color: green;
}

#react-root {
  width: 100%;
}

.nav {
  background-color: #1A2930;
  color: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  width: 100%;

  .title {
    padding: 20px 20px 15px 50px;
    width: 67%;
    font-size: 40px;
    font-weight: bold;
  }

  .login {
    padding: 20px 20px 15px 20px;
    width: 33%;

    span {
      padding: 10px;
    }

    p {
      margin: 0 0 8px 0;
    }

    .login-button {
      align-self: flex-end;
      margin: 0 0 10px 10px;
      width: 50px;
      height: 30px;
      color: #1A2930;
      background-color: #F5F5F5;
      border: none;
    }
  }

  .logout-button {
    align-self: center;
    margin-left: auto;
    color: #1A2930;
    background-color: #F5F5F5;
    border: none;
    margin-right: 15px;
    width: 50px;
    height: 30px;
  }
}

.home-container {
  display: flex;
  width: 100%;

  .signup-container {
    width: 33%;
    display: flex;
    margin: 50px 0;
    padding: 0 50px;
    border-left: 1px solid lightgrey;
    flex-direction: column;

    p {
      font-size: 30px;
    }

    .signup-box {
      padding: 5px;
      margin: 5px 0;
    }

    .signup-button {
      padding: 5px;
      margin: 5px 0;
      background-color: #1A2930;
      color: #F5F5F5;
      border: none;
    }
  }

  .carousel-container{
    width: 67%;
    margin: 50px;

    .carousel {
      height: 450px;
      width: 100%;
    }
  }

  .col {
  }

}


.flex-grid {
  display: flex;

    col {
      flex: 1;
      padding: 10px 10px 0 10px;
    }
}

input {
  padding: 3px;
  color: black;
}

.trips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip-card {
  border: 1px solid lightgrey;
  transition: 0.3s;
  background-color: white;
  margin: 20px;
  width: 300px;
  height: 500px;

  .trip-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

    .trip-card-header {
      width: 100%;
      height: 200px;
      background-color: lightgrey;
    }

    .trip-card-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
    }

    .trip-card-footer {
      height: 40px;
      padding: 5px;
    }
  }
}

.trip-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;

}

.add-day-button {
  background-color:#44c767;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  width: 70px;
  margin: 30px;
}
.add-day-button:hover {
  background-color:#5cbf2a;
}
.add-day-button:active {
  position:relative;
  top:1px;
}

.original-hidden {
  display: none;
  transition: all 0.5s ease;
}

.original-show {
  display: block;
  transition: all 0.5s ease;
}

.day-card {
  transition: 0.3s;
  margin: 10px 10%;
  width: 80%;

  .day-card-container {
    border: 1px solid lightgrey;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid lightgrey;

    .day-card-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
      width: 100%;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    .day-card-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .day-card-dates {
        display: flex;
        justify-content: space-between;
      }
    }

    .day-card-footer {
      align-self: flex-end;
      padding: 5px;
    }
  }
}

.day-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.events-container {
  border: 1px solid lightgrey;
  border-top: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  visibility: hidden;
  height: 0;
  transition: all 1s transform ease;

  .event-new-trip-button {
    margin: 10px;
  }

  .event-card {
    width: 80%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;

    .event-details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .event-type {

    }
  }
}

.event-dropdown {
  visibility: visible;
  height: 100%;
  transition: all 1s transform ease;
}

.error-message {
  color: red;
}
