body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  min-height: 0;
  min-width: 0;
}

.active {
  color: green;
}

#react-root {
  width: 100%;
}

input[type=password] {
  background:#F9F9F9;
  border: solid 1px #736357;
}

.nav {
  background-color: #1A2930;
  color: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  width: 100%;

  .sign-in{
    background-color: #1A2930;
    color: #F5F5F5;
  }

  .title {
    padding: 20px 20px 15px 50px;
    width: 67%;
    font-size: 40px;
    font-weight: bold;
  }

  .login {
    padding: 20px 20px 15px 20px;
    width: 33%;

    span {
      padding: 10px;
    }

    p {
      margin: 0 0 8px 0;
    }

    .login-button {
      align-self: flex-end;
      margin: 0 0 10px 10px;
      width: 50px;
      height: 30px;
      color: #1A2930;
      background-color: #F5F5F5;
      border: none;
    }
  }
  .logout {
    width: 33%;
    display: flex;
    align-items: flex-end;

    .logout-button {
      margin-left: auto;
      color: #1A2930;
      background-color: #F5F5F5;
      border: none;
      margin-right: 25px;
      margin-top: 30px;
      width: 50px;
      height: 30px;
    }
  }
}

.home-container {
  display: flex;
  width: 100%;

  .signup-container {
    width: 33%;
    display: flex;
    margin: 50px 0;
    padding: 0 50px;
    border-left: 1px solid lightgrey;
    flex-direction: column;

    p {
      font-size: 30px;
    }

    .signup-box {
      padding: 5px;
      margin: 5px 0;
    }

    .signup-button {
      padding: 5px;
      margin: 5px 0;
      background-color: #1A2930;
      color: #F5F5F5;
      border: none;
    }
  }

  .carousel-container{
    width: 67%;
    margin: 50px;

    .carousel {
      height: 450px;
      width: 100%;
    }
  }

  .col {
  }

}

.flex-grid {
  display: flex;

    col {
      flex: 1;
      padding: 10px 10px 0 10px;
    }
}

.user-page {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .new-trip-button {
    width: 200px;
    height: 60px;
    margin: 30px auto 10px auto;
    background-color: #1A2930;
    color: #F5F5F5;
    border: none;
    font-size: 20px;
  }

}


input {
  padding: 3px;
  color: black;
}

.trips-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip-card {
  border: 1px solid lightgrey;
  transition: 0.3s;
  background-color: white;
  margin: 20px;
  width: 301px;
  height: 500px;

  .trip-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

    .trip-card-header {
      width: 100%;
      height: 200px;
      background-color: lightgrey;
    }

    .trip-card-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
    }

    .trip-card-footer {
      height: 40px;
      padding: 5px;
    }
  }
}

.trip-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;

}

.sub-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 40px;

}

.one-trip-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.add-day-button {
  width: 200px;
  height: 60px;
  margin: 30px auto 10px auto;
  background-color: #1A2930;
  color: #F5F5F5;
  border: none;
  font-size: 20px;
}
.add-day-button:hover {
  background-color:#5cbf2a;
}
.add-day-button:active {
  position:relative;
  top:1px;
}

.original-hidden {
  display: none;
  transition: all 0.5s ease;
}

.original-show {
  display: block;
  transition: all 0.5s ease;
}

.day-card {
  transition: 0.3s;
  margin: 10px 10%;
  width: 80%;

  .day-card-container {
    border: 1px solid lightgrey;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-bottom: 1px solid lightgrey;

    .day-card-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
      width: 100%;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    .day-card-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .day-card-dates {
        display: flex;
        justify-content: space-between;
      }
    }

    .day-card-footer {
      align-self: flex-end;
      padding: 5px;
    }
  }
}

.day-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.events-container {
  border: 1px solid lightgrey;
  border-top: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  visibility: hidden;
  height: 0;
  transition: all 1s transform ease;

  .event-new-trip-button {
    margin: 10px;
  }

  .event-card {
    width: 80%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;

    .event-details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .event-type {

    }
  }
}

.event-dropdown {
  visibility: visible;
  height: 100%;
  transition: all 1s transform ease;
}

.error-message {
  color: red;
}

.new-trip-modal {
  width: 330px;
}

.new-trip-form-container {
  display: flex;
  flex-direction: column;

  .new-trip-form {
    display: flex;
    justify-content: flex-start;
    padding: 0;

    .labels {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      width: 160px;
      justify-content: center;

      .label {
        align-self: flex-start;
        color: #1A2930;
        font-size: 16px;
        padding: 3px;
        margin: 3px;
        height: 30px;
      }
    }

    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      padding-bottom: 10px;

      .box {
        padding: 3px;
        margin: 3px;
        height: 30px;
        width: 150px;

      }
    }
  }
  .new-trip-submit {
    border: none;
    background-color: #1A2930;
    color: #F5F5F5;
    width: 80px;
    margin-left: auto;
  }
}
